@model IEnumerable<MoldeMVC_Core.Models.Persona>

@{
    ViewData["Title"] = "Personas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Personas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Rol</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CedulaPersona</td>
                <td>@item.NombrePersona</td>
                <td>@item.ApellidoPersona</td>
                <td>@item.RolPersona?.RolNombre</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PersonalId" class="btn btn-sm btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.PersonalId" class="btn btn-sm btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.PersonalId" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
