@model MoldeMVC_Core.Models.CatalogoMateria

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CatalogoMateria</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMateria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMateria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carrera.CarreraId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departamento.DepartamentoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nivel.NivelId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MateriaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
