@model IEnumerable<MoldeMVC_Core.Models.Estudiante>

@{
    ViewData["Title"] = "Estudiantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Estudiantes</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Carrera</th>
            <th>Nivel</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Personal?.NombrePersona</td>
                <td>@item.Personal?.ApellidoPersona</td>
                <td>@item.Carrera?.NombreCarrera</td>
                <td>@item.NivelActualEstNavigation?.NivelDescrip</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EstudianteId" class="btn btn-sm btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.EstudianteId" class="btn btn-sm btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.EstudianteId" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
