@model IEnumerable<MoldeMVC_Core.Models.Carrera>

@{
    ViewData["Title"] = "Carreras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Carreras</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Agregar Nuevo</a>
</p>
<table class="table table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>Nombre Carrera</th>
            <th>Cantidad Semestres</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.NombreCarrera</td>
                <td>@item.CantSemestres</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarreraId" class="btn btn-sm btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CarreraId" class="btn btn-sm btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarreraId" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
